
@import "tailwindcss";
/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

/* Fuentes */

/* inter-latin-400-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

:root {
/* Paleta Neo-Wellness */
--color-primary: #4F46E5;
--color-secondary: #06B6D4;
--color-accent: #F472B6;
--color-dark: #0F172A;
--color-light: #F8FAFC;


/* Texto */
--text-light: #FFFFFF;
--text-dark: #0F172A;
}


/* body {
  background-color: var(--color-dark);
  color: var(--text-light);
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
} */


/* Clases utilitarias opcionales */
.bg-primary { background-color: var(--color-primary);}
.bg-secondary { background-color: var(--color-secondary); }
.bg-accent { background-color: var(--color-accent); }
.bg-dark { background-color: var(--color-dark); }
.bg-light { background-color: var(--color-light);}


.text-primary { color: var(--color-primary); }
.text-secondary { color: var(--color-secondary); }
.text-accent { color: var(--color-accent); }
.text-dark { color: var(--text-dark); }
.text-light { color: var(--text-light); }


.border-primary { border-color: var(--color-primary); }
.border-secondary { border-color: var(--color-secondary); }
.border-accent { border-color: var(--color-accent); }
