---

// src/pages/categories/[category].astro
import { getCollection } from 'astro:content';
import type { ProductEntry } from '../../types/Product';
import ProductCard from '../../components/ProductCard.astro';
import Layout from '../../layouts/Layout.astro';

// Definimos todas las rutas válidas
export async function getStaticPaths() {
  const categories = ['fitness', 'nutricion', 'salud-digital', 'sueno'];
  return categories.map((category) => ({ params: { category } }));
}

const { category } = Astro.params;

const allProducts: ProductEntry[] = await getCollection('products');

const filteredProducts = allProducts.filter(
  (product) => product.data.category === category
);

const imagesFitness = [
    '/assets/images/fitness/fitness1.jpg',
    '/assets/images/fitness/fitness2.jpg',
    '/assets/images/fitness/fitness3.jpg',
    '/assets/images/fitness/fitness4.jpg',
];
---

<Layout title={`Categoria: ${category.toUpperCase()}`}>
    <h1>Los mejores productos de {category.toUpperCase()} para casa</h1>
    <div class="grid-productos">
      {filteredProducts.map((product) => (
        <ProductCard {...product.data} />
      ))}
    </div>
</Layout>