<section class="affiliate-disclosure mx-50 py-5 text-center text-sm text-gray-900">
  <h2>Divulgación de afiliados</h2>
  <p>
    Este sitio web participa en el Programa de Afiliados de <span class="text-amber-500">Amazon EU</span>, un
    programa de afiliados diseñado para proporcionar un medio para que los
    sitios ganen comisiones publicitarias mediante la publicidad y enlaces a
    Amazon.es. Algunos enlaces de productos en este sitio incluyen nuestro
    identificador de afiliado — esto no afecta al precio que pagas.
  </p>
</section>
