<!--Esto va en la clase del div container -->
<footer class="bg-gray-500/50 border-t mt-12 flex flex-col justify-center">
    <section class="affiliate-disclosure">
        <h2>Divulgación de afiliados</h2>
        <p>
            Este sitio web participa en el Programa de Afiliados de Amazon EU, un
            programa de afiliados diseñado para proporcionar un medio para que los
            sitios ganen comisiones publicitarias mediante la publicidad y enlaces a
            Amazon.es. Algunos enlaces de productos en este sitio incluyen nuestro
            identificador de afiliado — esto no afecta al precio que pagas.
        </p>
    </section>

    <div class="mx-auto p-6 text-sm text-gray-800">
        <p class="text-xs">Aviso: esta web participa en programas de afiliación, lo que significa que podemos recibir comisiones por compras realizadas a través de ciertos enlaces.</p>

        <!-- <p>
            © ${new Date().getFullYear()} Logra Tú Wellness — Como afiliado de
            Amazon, obtengo ingresos por compras adscritas.
        </p> -->
    </div>
</footer>