<!--Esto va en la clase del div container -->
<footer class="bg-gray-500/50 border-t mt-12 flex flex-col justify-center">
    <div class="mx-auto p-6 text-sm text-gray-800">
        <p>
            © ${new Date().getFullYear()} Logra Tú Wellness — Como afiliado de
            Amazon, obtengo ingresos por compras adscritas.
        </p>
    </div>
</footer>