---
import Privacy from "../pages/privacy.astro"
---

<!--Esto va en la clase del div container -->
<footer class="bg-gray-500/50 border-t mt-12 flex flex-col justify-center">
    <Privacy />

    <!-- <div class="mx-auto p-6 text-sm text-gray-800">
        <p class="text-xs">Aviso: esta web participa en programas de afiliación, lo que significa que podemos recibir comisiones por compras realizadas a través de ciertos enlaces.</p>
    </div> -->
</footer>