---

---
<header class="bg-white border-b">
    <div class="container mx-auto flex items-center justify-between p-4">
        <a href="/" class="font-bold text-xl">WellnessEnCasa</a>
            <nav class="space-x-4 hidden md:flex">
                <a href="/categories/fitness">Fitness</a>
                <a href="/categories/salud-digital">Salud digital</a>
                <a href="/categories/nutricion">Nutrición</a>
                <a href="/categories/sueño">Sueño</a>
            </nav>
        <div class="md:hidden">☰</div>
    </div>
</header>