---

---
<header class="bg-secondary border-b">
    <div class="container mx-auto flex items-center justify-between p-4">
        <a href="#" class="font-bold text-xl text-light">Logra Tú Wellness</a>
            <nav class="space-x-4 hidden md:flex text-dark">
                <a href="#fitness">Fitness</a>
                <a href="#saludDigital">Salud digital</a>
                <a href="#nutricion">Nutrición</a>
                <a href="#sueno">Sueño</a>
            </nav>
        <div class="md:hidden">☰</div>
    </div>
</header>

<!-- 
<a href="/categories/fitness">Fitness</a>
<a href="/categories/salud-digital">Salud digital</a>
<a href="/categories/nutricion">Nutrición</a>
<a href="/categories/sueno">Sueño</a>
-->