<!doctype html>
<html lang="es" class="bg-dark text-light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Descubre consejos y productos recomendados para fitness, nutrición, salud digital y sueño. Mejora tu bienestar desde casa.">
		<title>Logra Tú Wellness | Mejora tu rutina desde casa</title>
	</head>
	<body class="text-gray-800 antialiased; bg-dark min-h-screen">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		background-color: var(--color-dark);
		color: var(--text-light);
		font-family: system-ui, sans-serif;
		margin: 0;
		padding: 0;
		scroll-behavior: smooth;
		color: var(--text-light);
	}
</style>
